services:
  powerbot:
    image: semorgana/powerbot:latest
    container_name: powerbot
    env_file:
      - ./.env
    environment:
      BOT_ENV: prod
      DB_PATH: /data/state.db
    volumes:
      - ./state.db:/data/state.db
    ports:
      - "18081:8081"
    restart: unless-stopped

  migrate:
    image: semorgana/powerbot-migrate:latest
    container_name: powerbot-migrate
    env_file:
      - ./.env
    environment:
      TARGET_DB: /data/state.db
      SCHEMA_PATH: /app/schema.sql
    volumes:
      - ./state.db:/data/state.db
    profiles: ["migrate"]
