entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

log:
  level: DEBUG

accessLog: {}

certificatesResolvers:
  letsencrypt_http:
    acme:
      email: "${TRAEFIK_EMAIL}"
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
  letsencrypt_dns:
    acme:
      email: "${TRAEFIK_EMAIL}"
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: "${TRAEFIK_DNS_PROVIDER}"
        delayBeforeCheck: 0
